{% extends 'base/master.html' %}

{% block content %}
<div class="row">
{% if category %}
    <h2>{{ category.title }}</h2>
{% endif %}

    
{% comment %}

{% url 'add_category' as add_category %}
{% include 'base/form.html' with action="{{ add_category}}" submit="Save category" %}

{% endcomment %}
</div>

<h2>{{ user_is_admin }}</h2>


<div class="card-columns">
    {% for item in items %}

        {% include 'blog/card.html' %}

    {% endfor %}
</div>

{% endblock %}


<script>
{% block jquery %}
    console.log('hello js')
    $(".likeBtn").click(function(){
        let postId = $(this).attr('data-post-id')
        let url = '/action/post/love/' + postId + '/';
        let button = $(this)
        let loved = '<i class="fas fa-heart"></i> '
        let notLoved = '<i class="far fa-heart"></i> '
        axios.post(url, {})
          .then(function (response) {
            let postLove = response['data']['postLove']
            let postLoveCount = response['data']['postLoveCount']
            let text = ""
            if (postLove) {
                text = loved + postLoveCount
                button.html(text)
            } else {
                text = notLoved + postLoveCount
            }
            button.html(text)
          })
          .catch(function (error) {
            console.log(error);
          });
    });
{% endblock %}
</script>